.slider-wrapper
	//- minus button
	.subtract(ng-click = "subtract(step)")
	
	//- slider bar with active area
	.bar-wrapper
		.active-bar(style="width:{{(current-min) / (max/100)}}%")
		
		//- handle
		.handle(style="left:{{ (current-min) / (max/100)}}%" )
			.tooltip_top(ng-if="barTooltip")
			.tooltip_bottom(ng-if="barTooltip")
		
		//- optional limits/sections
		.limits(ng-if="limits")
			.limit(ng-repeat="limit in limits",
				   style="left:{{  (limit-min) / (max/100)}}%" ) {{limit}}
	//- add value button
	.add(ng-click = "add(step)")
	
	//- manual input field
	input.amountInput(type="number",
		  			  step="{{step}}",
		  			  min="{{min}}",
		  			  max="{{max}}",
		  			  ng-model="current")
